.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Gallery */
#root{
  display: table;
  width: 100%;
  background: #fff;
  height: -webkit-fill-available;
}

.galContainer{
  flex-flow: row wrap;
  justify-content: center;
  padding:5px;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 395px;
}

#root #uploadForm, .outergalContainer{
   text-align: center;
   vertical-align: middle;
}
.outergalContainer>.innergalContainer
{
  border: solid 1px #333;
  border-style: dashed;
  width: 50%;
  margin: 20px auto;
}
.selectContainer{
  padding: 20px 0;
}

.imgContainer{
  padding: 5px;
  position: relative;
  display: inline-block;
  margin: 15px;
}
.imgContainer img{
  border: #333 solid 1px;
  max-width: 100%;
}
.remove-image {
margin: -15px;
position: absolute;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
text-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-transition: background 0.5s;
transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip > input {
  visibility:hidden;
  width:0;
  height:0
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color:#333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  /* Position the tooltip */
  z-index: 1;
  left: 30px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.add > div {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: #f29111;
  border-radius: 50%;
  position: relative;
  -webkit-animation:back .5s forwards 1;
    -moz-animation:back .5s forwards 1;
    animation:back .5s forwards 1;
}

.add > div > div:first-of-type {
  position: absolute;
  background-color: black;
  width: 5%;
  height: 80%;
  top: 10%;
  left: 47.5%;
}

.add > div > div:last-of-type {
  position: absolute;
  background-color: black;
  width: 80%;
  height: 5%;
  top: 47.5%;
  left: 10%;
}

.add > div:hover {
  -webkit-animation:spin .5s forwards 1;
    -moz-animation:spin .5s forwards 1;
    animation:spin .5s forwards 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(45deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(45deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } }

@-moz-keyframes back { 0% { -moz-transform: rotate(45deg); } 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes back { 0% { -webkit-transform: rotate(45deg); } 100% { -webkit-transform: rotate(0deg); } }
@keyframes back { 0% {-webkit-transform: rotate(45deg); transform:rotate(45deg);} 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

/* Navigation */

.main{
	display:flex;
  z-index: 1;
  /* border-bottom: 1px solid black; */
  position: -webkit-sticky;
	position: sticky;
	top:0;
  background-color: #F8F8F8;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.main > .oraclelogotext {
  font-size: 1.28571rem;
  font-weight: bold;
  color: #666666;
  white-space: nowrap;
  padding: 20px;
}
.main > .oraclelogotext > img {
  /* height: 20px; */
    margin: auto;
    padding: 25px;

}

.adjust{
  white-space: nowrap;
  font-size: 14px;
}
.logout{
  margin: auto 16px auto auto;
}
.adjust > img {
  height: 20px;
    margin: auto;
    padding: 25px;

}

.select{
	padding:10px;
	width:60%;
}
.paddings{
  width: 100%;
}

body{
  background:#f1f1f1;
}

h1{
  margin-bottom: 40px;;
}

.file-upload {
	position: relative;
	overflow: hidden;
	border-radius: 3px !important;
	text-transform: uppercase;
	font-size: 13px;
	border:none !important;
	box-shadow: none !important;
	color: #fff !important;
	text-shadow:none;
	padding: 5px 10px !important;
	font-family: Arial, sans-serif;
	display: inline-block;
	vertical-align: middle;

}
.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#fileuploadurl{
	display: inline-block;
	border:none;
	vertical-align: middle;
	background: none;
	box-shadow: none;
	font-size: 11px;
  margin: auto;
}

.container {
  width: 70%;
  padding: 16px;
  background: #fff;
  margin: 0 auto;
}

.container2{
  max-width: 40%;
  padding: 16px;
  margin: 0 auto;
}

.outercontainer{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 4%;
}

.outercontainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.my-component {
  background: #fff;
}
 
.fullscreen-enabled .my-component {
  background: #000;
}
.footer{
  background-color: #00758F;
  color: #FFFFFF;
  max-height: 80px;
}
.footer>#footext{
display: inline-block;
z-index: 1;
position: -webkit-sticky;
position: sticky;
white-space: nowrap;
bottom: 53px;
}
/* #mheight{
  min-height: calc(100vh - 155px);
} */

#mheight{
  min-height: calc(100vh - 175px);
}

/*------------------------------------------------------ Slider -------------------------------------------------------------------------------------------------*/


@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  figure { 
    margin: 0; background: #101010;
    font-family: Istok Web, sans-serif;
    font-weight: 100;
  }
  div#captioned-gallery { 
    width: 100%; overflow: hidden; 
  }
  figure.slider { 
    position: relative; width: 500%;
    font-size: 0; animation: 30s slidy infinite; 
  }
  figure.slider figure { 
    width: 20%; height: auto;
    display: inline-block;  position: inherit; 
  }
  figure.slider img { width: 100%; height: auto; }
  figure.slider figure figcaption { 
    position: absolute; bottom: 0;
    background: rgba(0,0,0,0.4);
    color: #fff; width: 100%;
    font-size: 2rem; padding: .6rem; 
  }
  

  /* * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  */
  img {vertical-align: middle;}
  
  .mySlides {display: none;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

#sliderview{
  width: 100%;
    background: #fff;
    margin: 0 auto;
    /* height: 100%; */
    /* width: 1309px; */
    /* height: 850px; */
    /* height: 1088px; */
    height: 979px;
    /* border: 1px solid red; */
    display: table;
}

  .slider {
    /* position: relative; */
    /* width: 500px; */
    margin: 0 auto;
    /* height: 500px; */
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }
  